<h1 class=title>{{reservationFor.rentalCompany.name}}</h1>
<p class="content">
    <span>{{reservationFor.name}}</span>
    <span>{{reservationFor.brand.name}}</span>
    <span>{{reservationFor.model}}</span>
    <span>{{reservationNumber}}</span>
    <span>{{underName.name}}</span>
</p>
<p class="content">
    <span>{{pickupTime}}</span>
    <span>{{pickupLocation.name}}</span>
    <span>{{pickupLocation.address.streetAddress}}</span>
    <span>{{pickupLocation.address.addressLocality}}</span>
    <span>{{pickupLocation.address.addressRegion}}</span>
    <span>{{pickupLocation.address.postalCode}}</span>
    <span>{{pickupLocation.address.addressCountry}}</span>
</p>
