<h1 class=title>{{partOfOrder.merchant.name}}
</h1>
<p class="content">
    <span>{{partOfOrder.@type}}</span>
    <span>{{partOfOrder.orderNumber}}</span>
    <span>{{itemShipped.description}}</span>
</p>
<p class="content">
    <span>{{pickupTime}}</span>
    <span>{{deliveryAddress.name}}</span>
    <span>{{deliveryAddress.streetAddress}}</span>
    <span>{{deliveryAddress.addressLocality}}</span>
    <span>{{deliveryAddress.addressRegion}}</span>
    <span>{{deliveryAddress.postalCode}}</span>
    <span>{{deliveryAddress.addressCountry}}</span>
</p>
<p class="content">
    <span>{{expectedArrivalFrom}} - </span>
    <span>{{expectedArrivalUntil}}</span>
</p>

