<!-- the part underneath enables "tabs" in case of multiple instances -->
{{#isArray}}
<div id="{{tabId}}" class="tabcontent {{tabBarId}}" style="display: {{#isFirst}}flex{{/isFirst}}{{^isFirst}}none{{/isFirst}};">
    {{/isArray}}

    <div class="flightReservationFirstColumn">
        <!-- <p style="margin: 0;font-weight: bold; margin-bottom: 5px;">Departure :</p> -->
        <h4 style="margin: 0;">{{reservationFor.departureBusStop.name}}</h4>
        <p class = "content" style="margin: 0;">{{reservationFor.ld2hStartDate}} <br> {{reservationFor.ld2hStartTime}}</p>

        
    </div>

    <div class = "flightReservationMidColumn">
        {{> transportIconTemplate}}
  
        <p class = "content" style="margin: 0;">{{reservationNumber}}</p>
        <p class = "content" style="margin: 0;">{{underName.name}}</p>
        
    </div>

    <div class="flightReservationLastColumn">
        <!-- <p style="margin: 0;font-weight: bold;margin-bottom: 5px;">Arrival :</p> -->
        <h4 style="margin: 0;">{{reservationFor.arrivalBusStop.name}}</h4>
        <p class = "content" style="margin: 0;">{{reservationFor.ld2hEndDate}}<br> {{reservationFor.ld2hEndTime}} </p>
    </div>

    {{#isArray}}
</div>
{{/isArray}}
