

<div class="smlCard">

    <div class = "header">
        <!-- Tab links -->
        <div class="tab">
            {{#cardListElement}}<button class="tablinks" onclick="openCard(event, '{{id}}')">{{reservationNumber}} {{underName.name}}</button>{{/cardListElement}}

        </div>
    </div>


    <div class="smlCardRow">

        <div class="image_column">

            <!-- If Picture is empty list, false or key doesnt exist render the i frame with the iconName -->
            <i class="fa-solid fa-plane fa-5x" ></i>
        </div>

        <div class ="smlCardFlightReservationTextColumn">
            <!-- Tab content -->
            {{#cardListElement}}<div id="{{id}}" class="tabcontent">

                <div class="flightReservationFirstColumn">
                    <p style="margin: 0;font-weight: bold; margin-bottom: 5px;">Departure :</p>
                    <p style="margin: 0;">{{reservationFor.departureAirport.name}}</p>
                    <p style="margin: 0;">{{reservationFor.departureTime}}</p>
                </div>

                <div class = "flightReservationMidColumn">
                    <h4></h4>

                    <p style="margin: 0;">Flight Number : {{reservationFor.flightNumber}}</p>
                    <p style="margin: 0;">Airline : {{reservationFor.airline.name}}</p>
                </div>

                <div class="flightReservationLastColumn">
                    <p style="margin: 0;font-weight: bold;margin-bottom: 5px;">Arrival :</p>
                    <p style="margin: 0;">{{reservationFor.arrivalAirport.name}}</p>
                    <p style="margin: 0;">{{reservationFor.arrivalTime}}</p>
                </div>

            </div>{{/cardListElement}}
        </div>

    </div>

</div>