<!--This template is supposed to serve in emails which providing confirmation codes,
it places the copy button besides or underneath the confirmation code-->
<div class="smlCard">
    <div class="smlCardRow">
        <div class ="slim_text_column">
                <!--Only render this part if we dont have a dedicatedTextColumn-->
            {{^dedicatedTextColumn}}
                <h1 class="card_title"> {{title}}</h1>
                {{#content}}
                    <p class="card_content">{{.}}</p>
                {{/content}}
            <div class="card_footnote">{{footer}}
            </div>
            {{/dedicatedTextColumn}}

            <!-- If there is a dedicated text column, take that -->
            {{#dedicatedTextColumn}}
                {{{dedicatedTextColumn}}}
            {{/dedicatedTextColumn}}
        </div>
    </div>
    <div class="footer">
        <!-- NOTE The data to be copied need to have a html class called: "data_to_copy" -->
        {{#copyAction}}<button type="button" class="actionButton" onclick="
                                            let data =(this.parentElement.parentElement.getElementsByClassName('data_to_copy')[0].textContent);
                                             console.log(this.parentElement.parentElement.getElementsByClassName('data_to_copy')[0]);
                                            navigator.clipboard.writeText(data.trim());
                                            ">CopyToClipboardAction</button>{{/copyAction}}
    </div>
</div>