<div class="smlCard--backgroundImage" style="background-image:url({{thumbnailUrl}});">
    <div class = "header">
         <!--  Experimental breadcrumblist support:   -->
        
        <!-- {{^ itemListElement}} {{@type}} {{> headerIconTemplate}} {{/ itemListElement}} -->
        <!-- <ul class="breadcrumb"> {{# itemListElement}} <li><a href= {{item}} >{{name}}</a></li> {{/ itemListElement}}
        </ul> -->

        <!-- No breadcrumblist:  -->
        {{> headerIconTemplate}}
        
    </div>
    <div class="smlCardRow">
        <div class="image_column">
            <i class="fa-solid fa-{{iconName}} fa-5x" ></i>
        </div>
        <div class ="text_column--backgroundImage">
            <!--Only render this part if we dont have a subTemplateContent-->
        {{#subTemplateContent}}
            {{{subTemplateContent}}}
        {{/subTemplateContent}}
        </div>
    </div>
        <div class="footer">
            {{#potentialAction}}<button type="button" class="actionButton" onclick="window.open('{{target}}', '_blank');">{{@type}}</button>{{/potentialAction}}
        </div>
</div>
    
