<!--This template is supposed to serve in emails which providing confirmation codes,
it places the copy button besides or underneath the confirmation code-->
<div class="ld-card">
    <div class="ld-card__row">
        <div class ="text-column--slim">
                <!--Only render this part if we dont have a subTemplateContent-->
            {{^subTemplateContent}}
                <h1 class="title"> {{title}}</h1>
                {{#content}}
                    <p class="content">{{.}}</p>
                {{/content}}
            <div class="card_footnote">{{footer}}
            </div>
            {{/subTemplateContent}}

            <!-- If there is a dedicated text column, take that -->
            {{#subTemplateContent}}
                {{{subTemplateContent}}}
            {{/subTemplateContent}}
        </div>
    </div>
    <div class="ld-card__footer">
        <!-- NOTE The data to be copied need to have a html class called: "data_to_copy" -->
        {{#copyAction}}<button type="button" class="ld-card__action-button" onclick="
                                            let data =(this.parentElement.parentElement.getElementsByClassName('data_to_copy')[0].textContent);
                                             console.log(this.parentElement.parentElement.getElementsByClassName('data_to_copy')[0]);
                                            navigator.clipboard.writeText(data.trim());
                                            ">CopyToClipboardAction</button>{{/copyAction}}
    </div>
</div>
