
<div class="ld-card">
<div class = "ld-card__header">
    {{^breadcrumbList.itemListElement}} {{@type}}   {{#iconName}}<i class="fa-solid fa-{{iconName}} fa-1x" ></i>{{/iconName}}  {{/breadcrumbList.itemListElement}}
    <ul class="ld-card__breadcrumb">
        {{#breadcrumbList.itemListElement}}<li><a href= {{item.id}} >{{item.name}}</a></li>{{/breadcrumbList.itemListElement}}
    </ul>


</div>

<div class="ld-card__row--promotion-cards">
    <div class="image-column">

        <img src="{{logo}}">


    </div>

    <div class="ld-card__text-column--promotion-cards">

        <h4 class="ld-card__title--promotion-cards">{{subjectLine}}</h4>
        <p class="ld-card__description--promotion-cards">{{description}}</p>
        <p class="ld-card__promotion-code--promotion-cards">Code {{discountCode}}</p>

    </div>

    <div class="tabs-row">

        {{#promotionCards}}
        {{{.}}}
        {{/promotionCards}}

    </div>




</div>
    <div class="ld-card__footer">
        {{#potentialAction}}<button type="button" class="ld-card__action-button" onclick="window.open('{{target}}', '_blank');">{{@type}}</button>{{/potentialAction}}

    </div>


</div>

