<!--This template is supposed to serve in emails which providing confirmation codes,
it places the copy button besides or underneath the confirmation code-->
<div class="smlCard">
    <div class="smlCardRow">
        <div class ="slim_text_column">
                <!--Only render this part if we dont have a dedicated_text_column-->
            {{^dedicated_text_column}}
                <h1 class="card_title"> {{title}}</h1>
                {{#content}}
                    <p class="card_content">{{.}}</p>
                {{/content}}
            <div class="card_footnote">{{footer}}
            </div>
            {{/dedicated_text_column}}

            <!-- If there is a dedicated text column, take that -->
            {{#dedicated_text_column}}
                {{{dedicated_text_column}}}
            {{/dedicated_text_column}}
        </div>
    </div>
    <div class="footer">
        <!-- TODO Source this "special action" out -->
        {{#potentialAction}}<button type="button" class="actionButton" onclick="
                                            let data =(this.parentElement.parentElement.getElementsByClassName('data_to_copy')[0].textContent);
                                             console.log(this.parentElement.parentElement.getElementsByClassName('data_to_copy')[0]);
                                            navigator.clipboard.writeText(data.trim());
                                            ">CopyToClipboardAction</button>{{/potentialAction}}
    </div>
</div>