
<div class="ld-card__promotion-card">

    <div class = "image-row">
        <img src="{{image}}" alt="picture">
    </div>

    <div class = "ld-card__text-row--promotion-cards">
        <h4 class="ld-card__headline--promotion-cards">{{headline}}</h4>
        <div class = "ld-card__footer-price--promotion-cards">
            <div class = "price"><p class="price">{{oldPrice}}</p></div>
            <div class = "discount"><p class="discountedPrice">{{newPrice}}</p></div>
        </div>
    </div>
    
</div>

